QWidget {
  background-color: #fff;
}

QLabel {
  color: #464d55;
  font-weight: 600;
}

QLabel#heading {
  color: #0f1925;
  font-size: 18px;
  margin-bottom: 10px;
}

QLabel#subheading {
  color: #0f1925;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}

QLineEdit {
  border-radius: 8px;
  border: 1px solid #8c8c8c;
  padding: 5px 15px;
}

QLineEdit:focus {
  border: 1px solid #000000;
  background-color: #dbdbdb;
}


QLineEdit::placeholder {
  color: #767e89;
}

QPushButton {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #0d6efd;
  padding: 5px 15px;
  margin-top: 10px;
  outline: 0px;
  max-width: 200px;
}

QPushButton#hardware_button {
  background-color: #8f3f71;
  border: 1px solid #8f3f71;
  padding-left: 15px;
  padding-right: 15px;
}

QPushButton#hardware_button:hover, QPushButton#hardware_button:focus {
  border: 3px solid #b16286;
}


QPushButton:hover, QPushButton:focus {
  background-color: #0b5ed7;
  border: 3px solid #9ac3fe;
}

QTextEdit#console {
    background-color: #3c3836;
    color: green;
    font-family: Courier, monospace;
}

QLabel#heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Segoe UI Light', Segoe UI, Arial, sans-serif;
}

QScrollBar:vertical {
    border: none;
    background-color: #3c3836;
    width: 12px;
}
QScrollBar::handle:vertical {
    background: #b57614;
    min-height: 20px;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}